/**
 * 查询表单样式
*/
.spanwith15{
	width: 15%;
	display: block;
}
.controls-90{
    margin-left: 90px;
}
.control-label-100{
	float: left;
	margin-left:20px;
    padding-top: 5px;
    text-align: right;
    margin-top: 2px;
}
